<nav
  class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
>
  <div class="container">
    <!-- Navbar Brand-->
    <a href="../../../" class="navbar-brand pe-3 ps-4 ps-lg-2 fw-bold">LibMS</a>
    <!-- Navbar Search Input-->
    <form
      method="get"
      action="/search"
      class="form-inline ms-auto d-none d-lg-block me-3"
    >
      <div class="input-group search-form">
        <input
          name="search_query"
          class="form-control pe-0"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button type="submit" class="input-group-text">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
</nav>
